<%- include('partials/header') %>
<div class='ui segment container main text'>
	
	<div class='huge header'>
		<i id='bug' class="bug icon"></i>
		<h1>
			Sorry there has been an Error. 
		</h1>
		<p>
			It's not you, it's us..
		</p>
		<p>
			<%= error %>
		</p>
	</div>
</div>

<%- include('partials/footer') %>